# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [54]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [59]:
black_friday.loc[black_friday['Gender'] == 'F' ].loc[black_friday['Age'] ==  '26-35'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49348 entries, 47 to 537291
Data columns (total 12 columns):
User_ID                       49348 non-null int64
Product_ID                    49348 non-null object
Gender                        49348 non-null object
Age                           49348 non-null object
Occupation                    49348 non-null int64
City_Category                 49348 non-null object
Stay_In_Current_City_Years    49348 non-null object
Marital_Status                49348 non-null int64
Product_Category_1            49348 non-null int64
Product_Category_2            33122 non-null float64
Product_Category_3            13364 non-null float64
Purchase                      49348 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 4.9+ MB

In [64]:
len(black_friday['User_ID'].unique())

5891

In [91]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [92]:
black_friday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [93]:
p2 = black_friday.loc[black_friday['Product_Category_2'].isna()]
p2['Product_Category_3'].sum()
#todos registros com Product_category_2 nulos também tem o Product_category_3 Nulos
percent = 373299/537577
percent

0.6944102891306734

In [97]:
black_friday['Product_Category_3'].mode()

0    16.0
dtype: float64

In [121]:
from sklearn import preprocessing
purchase = black_friday['Purchase'].values.reshape(-1,1)
min_max_scaler = preprocessing.MinMaxScaler()
purchase_scaled = min_max_scaler.fit_transform(purchase)
purchase_scaled.mean()

0.3847939036269795

In [139]:
from sklearn.preprocessing import StandardScaler
purchase = black_friday['Purchase'].values.reshape(-1,1)
standarlizer = StandardScaler()
purchase_standarlized = standarlizer.fit_transform(purchase)
purchase_standarlized

i=0
for purchase in purchase_standarlized:
    if(purchase>-1 and purchase <1):
        i=i+1

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return(537577,12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [5]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return 49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return(5891)

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return(3)

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return(0.69)

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return(373299)

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return(16.0)

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return(0.3847)

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    # Retorne aqui o resultado da questão 9.
    return (348631)

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return True